body {
    opacity: .95;
    
    overflow-y: overlay;
    
    background: url("/images/hotel2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
    display: block;
    width: 100vw;
    height: 100vh;
    background-size: cover;

    color: rgb(158, 135, 99);
    
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

form {
    width: 450px;
    min-height: 400px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(45deg, #CEB797, #F9EBD0);
}

button {
    display: inline-block;
    color: rgb(104, 89, 64);
  
    width: 240px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 10px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 5% auto;
    letter-spacing: 0.05em;
}

.submit-button {
    background-color: #CEB797;
    color: #fff;
}

.interact-button {
    width: 48%;
    float: left;
    margin-left: 2%;

    background-image: linear-gradient(225deg, #CEB797, #F5EACC);
    border-radius: 10px;
}

button:hover {
    transform: translatey(3px);
}

form a:link {
    text-decoration: none;
    color: rgba(34, 83, 160, 1);
}
